# LogSentinel.Client.Model.Verification
## Properties

Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**ApplicationId** | **Guid?** |  | [optional] 
**AttemptedHash** | **string** |  | [optional] 
**AuditLogEntryId** | **Guid?** |  | [optional] 
**Created** | **DateTime?** |  | [optional] 
**Failure** | **string** |  | [optional] 
**Id** | **Guid?** |  | [optional] 
**Type** | **string** |  | [optional] 

[[Back to Model list]](../README.md#documentation-for-models) [[Back to API list]](../README.md#documentation-for-api-endpoints) [[Back to README]](../README.md)

